{% extends "base.html" %}
<hr>
{% block content %}
<section id = "image">
<form action="/countries/{{country.id}}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{country.name}}" required>
    </div>
    <div>
        <label for="continent">Continent:</label>
        <input type="text" id="continent" name="continent" value="{{country.continent}}" required>
    </div>
    <div>
        <label for="language">Language:</label>
        <input type="text" id="language" name="language" value="{{country.language}}" required autofocus>
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="{{country.description}}" required autofocus>
    </div>
    <div>
        <label for="visited">Visited:</label>
        <select id="visited" name="visited">
            <option value="true"{% if country.visited == True %} selected="selected" {% endif %}>Yes</option>
            <option value="false"{% if country.visited == False %} selected="selected" {% endif %}>No</option>
        </select>
    </div>
    <div>
        <label for="rating">Rating:</label>
        <input type="range" id="rating" name="rating" value="{{country.rating}}" min="1" max="5" step="0.5" oninput="this.nextElementSibling.value = this.value">
        <output>{{country.rating}}</output>
    </div>
    <button class="button" type="submit">Country update!</button>

</form>
</section>
{% endblock %}
