{% extends "base.html" %}
<hr>
{% block content %}
<section id = "image">
<div class = "flexbox">
{% for country in all_countries %}
    <div class="card">
        <h4>{{country.name}}</h4>
            Language spoken: {{country.language}}
            <br>
            {% if country.visited%}
            <span>Visited? &#10004;</span>
            {%else%}
            <span>Visited? &#10008;</span>
            {% endif %} 
        <div class="buttons">
            <form class="update-form" action="/countries/{{country.id}}/edit" method="GET">
            <button>update</button>
            </form>
        </div>
    </div>
{% endfor %}
</div>
</section>
{% endblock content %}