{% extends "base.html" %}
{% block content %}

<form action="/countries" method="post">

    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" required autofocus>
    </div>

    <div>
        <label for="language">What language is predominantly spoken there?</label>
        <input type="text" id="language" name="language" placeholder="Language" required autofocus>
    </div>

    <div>
        <label for="visited">Have you been there before?</label>
        <input type="checkbox" id="visited" name="visited" value={{country.visited}} checked>
    </div>
    <button type="submit">Add Country</button>

</form>

{% endblock %}