{% extends "base.html" %}
{% block content %}
<section id = "image">
<div class="expandedcountrycard">
    <br>
    <p>Name - {{country.name}}</p>
    <p>Where in the world? {{country.continent}}</p>
    <p>Main language spoken? {{country.language}}</p>
    <p>What makes it special? {{country.description}}</p>
    <p>Have you been there? {{country.visited}}</p>
    <p>What would you rate it? {{country.rating}}</p>
    <br>
    <br>
    <div class="align">
        <div class="buttons">
            <form class="delete-form" action="/countries/{{country.id}}/delete" method="POST">
                <button class="icon-button"><i class="fa fa-trash-o fa-3x" aria-hidden="true"></i></button>
            </form>
        </div>
        <div class="buttons">
            <form class="update-form" action="/countries/{{country.id}}/edit" method="GET">
                <button class="icon-button"><i class="fa fa-edit" style="font-size:24px;"></i></button>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock %}