{% extends "base.html" %}

{% block content %}
<section id = "image">
{% for country in all_countries %}
    <div class="country">
        <div class="content">
        <a href="/countries/{{country.id}}">{{country.name}}</a>
        <div class="name">
            Language spoken: {{country.language}}
            <br>
        </div>
        <!-- <div class="buttons">
            <form class="delete-form" action="/countries/{{country.id}}/delete" method="POST">
            <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
            </form>
        </div> -->
        </div>
        <div class="buttons">
            <form class="update-form" action="/countries/{{country.id}}/edit" method="GET">
            <button>update</button>
            </form>
        </div>
    </div>
{% endfor %}
</section>
{% endblock content %}