{% extends "base.html" %}
<hr>
{% block content %}
<section id = "image">
    <div class = "flexbox">
    {% for country in all_countries %}
        <div class="countrycard">
        <h4>{{country.name}}</h4>
        Continent: {{country.continent}}
        <br>
        <br>
        Rating: {{country.rating}}
        <br>
        <br>
        <div class="buttons">
            <form class="update-form" action="/countries/{{country.id}}/edit" method="GET">
                <button class="icon-button"><i class="fa fa-edit" style="font-size:24px;"></i></button>
            </form>
        </div>
        </div>
{% endfor %}
    </div>
</section>
{% endblock content %}