.trash-button{
    display: contents;
    font-size: 45%;
    color: goldenrod
  }

.button{
    background-color: goldenrod;
    border-radius: 7px;
    font-size: 25px;
  }

form > button:hover{
    color: white;
}

.button :hover {
  color: white;
}

.align{
  display: flex;
  justify-content: center;
}

.button_align + .button_align{
  margin-left: 10px;
  padding: 2%
}