.trash-button{
    display: contents;
    font-size: 45%;
    color: black
  }

  .button{
    background-color: goldenrod;
    border-radius: 7px;
    font-size: 25px;
  }

  .button :hover{
    color: white;
}
