.delete-form{
    display: inline;
  }

.delete-form:hover {
    color: white;
  }

form{
  padding: 0 10%;
  line-height: 40px;
  text-align-last: center;
  box-sizing: border-box;
  color: black;
}

input[type=text] {
  background-color: goldenrod;
  width: 200px;
  box-shadow: 0 0 5px 3px;
  padding: 1px;
  border-radius: 7px;
}
