.delete-form{
    display: inline;
  }
form{
  float: center;
  padding: 0 10%;
  line-height: 40px;
  text-align-last: center;
  box-sizing: border-box;
  background-color: black;
}

input[type=text] {
  background-color: goldenrod;
  width: 250px;
  box-shadow: 0 0 5px 3px;
  padding: 1px;
  border-radius: 7px;
}

.select_country {
  border-radius: 7px;
  border: 10px
}