#image {
    width:100vw;
    min-height:100vh;
    background-image: url(/static/images/SJP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local
}

#formimage {
    width:100vw;
    min-height:100vh;
    background-image: url(/static/images/gabba.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local
}

#listimage {
    width:100vw;
    min-height:100vh;
    background-image: url(/static/images/belgrade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local
}