#image {
    width:100vw;
    height:100vh;
    background-image: url(/static/images/SJP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local
}

#formimage {
    width:100vw;
    height:100vh;
    background-image: url(/static/images/gabba.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local
}