.stadium_flexbox {
    color: goldenrod;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px 90px;

}
.stadium_card{
    background-color: gray;
    padding: 1%;
    align-self: center;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    font-size: 20px;
}