.stadium_flexbox {
    color: goldenrod;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px 100px;

}
.stadium_card{
    border: orangered;
    background-color: gray;
    padding: 5%;
    align-self: center;
    width: 300px;
    height: 300px;
    box-sizing: border-box;

}