{% extends "base.html" %}
<hr>
{% block content %}

{% for stadium in all_stadiums %}
    <div class="stadium">
        <div class="content">
        <a href="/stadiums/{{stadium.id}}">{{stadium.name}}</a>
        <br>
        <div>
            Category? {{stadium.category}}
            <br>
            Where is it? {{stadium.country.name}}
            <br>
            {% if stadium.visited%}
            <span>Visited? &#10004;</span>
            {%else%}
            <span>Visited? &#10008;</span>
            {% endif %} 
            <br>   
            <br>     
        </div>
        <div class="buttons">
            <form class="delete-form" action="/stadiums/{{stadium.id}}/delete" method="POST">
            <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
            </form>
        </div>
        <div class="buttons">
            <form class="update-form" action="/stadiums/{{stadium.id}}/edit" method="GET">
            <button>update</button>
            </form>
        </div>
    </div>
{% endfor %}

{% endblock %}