{% extends "base.html" %}
{% block content %}

{% for stadium in all_stadiums %}
    <div class="stadium">
        <div class="content">
        <a href="/stadiums/{{stadium.id}}">{{stadium.name}}</a>
        <br>
        <div>
            Category? {{stadium.category}} Stadium
            <br>
            Where is it? {{stadium.country.name}}
            <br>
            Visited?    {{stadium.visited}}    
            <br>   
            <br>     

        </div>
    </div>
{% endfor %}

{% endblock %}