{% extends "base.html" %}
<hr>
{% block content %}
<section id = "image">
<div class = "flexbox">
{% for stadium in all_stadiums %}
    <div class="stadiumcard">
        <h4><a href="/stadiums/{{stadium.id}}">{{stadium.name}}</a></h4>
        <br>
        <div>
            Location: {{stadium.country.name}}
            <br>   
            <br>    
            {% if stadium.visited%}
        <span>Rating: {{stadium.rating}}</span>
        {% endif %} 
            <br>
            <br>
            <br>
        </div>
        
        <div class="align">
            <div class="buttons">
                <form class="delete-form" action="/stadiums/{{stadium.id}}/delete" method="POST">
                    <button class="icon-button"><i class="fa fa-trash-o fa-3x" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="buttons">
                <form class="update-form" action="/stadiums/{{stadium.id}}/edit" method="GET">
                    <button class="icon-button"><i class="fa fa-edit" style="font-size:24px;"></i></button>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
</div>
</section>
{% endblock %}