{% extends "base.html" %}
{% block content %}
<section id = "image">
    <h1>Stadium Bucket List</h1>
    <p>Select below for each menu</p>
<button><a href="{{url_for('stadiums.new_stadium') }}">Add a Stadium</a></button>
<button><a href="{{url_for('countries.new_country') }}">Add a Country</a></button>
<button><a href="{{url_for('stadiums.stadiums') }}">Full List of Stadiums</a></button>
<button><a href="{{url_for('countries.countries') }}">Full List of Countries</a></button>
<button><a href="{{url_for('stadiums.stadiums_visited') }}">Stadiums Visited</a></button>
<button><a href="{{url_for('stadiums.stadiums_to_visit') }}">Stadiums to tick off</a></button>
<button><a href="{{url_for('countries.countries_visited') }}">Countries Visited</a></button>
<button><a href="{{url_for('countries.countries_to_visit') }}">Countries to tick off</a></button>
</section>
{% endblock %}