{% extends "base.html" %}
{% block content %}
<section id = "image">
<div class="grid">
    <h1 class="home_header">Stadium Bucket List</h1>
    <p class="home_paragraph">Select below for each menu</p>
<button class="itemAS"><a href="{{url_for('stadiums.new_stadium') }}">Add a Stadium</a></button>
<button class="itemAC"><a href="{{url_for('countries.new_country') }}">Add a Country</a></button>
<button class="itemFS"><a href="{{url_for('stadiums.stadiums') }}">Full List of Stadiums</a></button>
<button class="itemFC"><a href="{{url_for('countries.countries') }}">Full List of Countries</a></button>
<button class="itemSV"><a href="{{url_for('stadiums.stadiums_visited') }}">Stadiums Visited</a></button>
<button class="itemST"><a href="{{url_for('stadiums.stadiums_to_visit') }}">Stadiums to tick off</a></button>
<button class="itemCV"><a href="{{url_for('countries.countries_visited') }}">Countries Visited</a></button>
<button class="itemCT"><a href="{{url_for('countries.countries_to_visit') }}">Countries to tick off</a></button>
</div>
</section>
{% endblock %}